

<div class="text-center">

</br>
</br>
</br>
</br>
    <div>
        <%= image_tag "basecamp_img_logo.png", height: 150, class: "image" %>
    </div>

    <h1>COLLABORATE</h1>
    <h5>A project management tool for developers</h5>
    </br>

    <div>

        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>

    </div>



</div>